<!DOCTYPE html>
<html>
<body>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<title>Home Page</title>
<!--<img class="gameplay-home" src="/images/brawlhallagameplay.gif">-->
<header class="header">
<div class="top-bar">
  <a href="/">Home</a>
  <a href="/tournaments">Tournaments</a>
  <a href="/news">News</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
</div>
</header>
<img class="header-underthing" src="/images/underthing.png">
<% if (user) { %>
  <a href="/logins/logout" class="logout-button">Logout</a>
  <a href="/tournaments/new" class="host-button">Host a Tournament</a>
<% } else { %>
  <a href="/loginpage" class="login-button">Login</a>
  <a href="/loginpage" class="host-button">Host a Tournament</a>
<% } %>
<img class="team-logo" src="/images/teamlogobetter.webp">
<div class="home-content">
  <!--<p>Home Text Place Holder</p>-->
</div>
<main class="content">
  <% if (tournaments && tournaments.length > 0) { %>
    <ul class="tournament-list">
      <% tournaments.forEach(function(tournament) { %>
        <li class="tournament-item">
          <h3 class="tournament-title">Title: <%= tournament.title %></h3>
          <p class="tournament-description">Description: <%= tournament.description %></p>
          <p class="tournament-date">Date: <%= tournament.date.toDateString() %></p>
          <p class="tournament-type">Type: <%= tournament.type %></p>

          <% if (user) { %>
            <button class="delete-button" onClick="window.location.reload();" data-tournament-id="<%= tournament._id %>">Delete</button>
            <button class="edit-button" data-tournament-id="<%= tournament._id %>">Edit</button>
          <% } %>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <div class="info-message">
      <p class="nothing-here">Nothing to show here</p>
    </div>
  <% } %>
</main>

<footer class="footer">
<p class="team-text">Team JustONS©️</p>
</footer>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const deleteButtons = document.querySelectorAll('.delete-button');
    
    deleteButtons.forEach(button => {
      button.addEventListener('click', function () {
        const tournamentId = this.dataset.tournamentId;
        deleteTournament(tournamentId);
      });
    });

    const editButtons = document.querySelectorAll('.edit-button');

    editButtons.forEach(button => {
      button.addEventListener('click', function () {
        const tournamentId = this.dataset.tournamentId;
        window.location.href = `/tournaments/edit/${tournamentId}`;
      });
    });

    function deleteTournament(tournamentId) {
      fetch(`/tournaments/${tournamentId}`, {
        method: 'DELETE',
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        console.log(data);
      })
      .catch(error => {
        console.error('Error:', error);
      });
    }
  });
</script>

<footer class="footer">
<p class="team-text">Team JustONS©️</p>
</footer>
</body>

<style>
 ul {
  list-style-type: none;
} 

.nothing-here{
  font-family: 'Josefin Sans';
  font-size: 30px;
  color: rgb(228, 232, 128);
}
</style>
</html> 

